h2 {
    color : darkblue;
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

a {
    text-decoration: none;
    width: 100%;
    background-color: YellowGreen;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;
}

a:hover {
    text-decoration: underline;
    width: 100%;
    background-color: darkblue;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;
}

.x {
    margin-top: 20px;
    text-align: center;
}

body {
    background-color: GhostWhite;
    padding: 20px;
}